div(ng-include='\'partials/navbar\'')

.jumbotron(ng-hide='currentUser')
  h1
    | Time-lapse for Agile 
    span(ng-show='currentUser') {{ currentUser.name }}
    | !

  p.lead
    h4 Always a pleasure scaffolding your apps.
  p
    a.btn.btn-sm.btn-success(ng-href='#') Login
    |  or 
    a.btn.btn-sm.btn-success(ng-href='#') Signup
    |  to create your JIRA timelapse
.panel
  .pannel-inner
    x

.row.marketing
  div(ng-repeat='thing in awesomeThings')
    h4 {{thing.name}}
    p {{thing.info}}

.footer
  p buit by Chris Gunawardena