div(ng-include='\'partials/navbar\'')

.jumbotron(ng-hide='currentUser')
	h1
		| Time-lapse for Agile 
		span(ng-show='currentUser') {{ currentUser.name }}
		| !

	p
		a.btn.btn-sm.btn-success(ng-href='#') Login
		|  or 
		a.btn.btn-sm.btn-success(ng-href='#') Signup
		|  to create your JIRA timelapse

.bs-component(ng-show='currentUser')
	.modal(ng-show='current_project')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="close_project()") ×
					h4(class="modal-title") Add Project
				.modal-body
					form.form-horizontal
						.form-group
							label.col-sm-3.control-label(for='project_name') Project Name
							.col-sm-9
								input#project_name.form-control(type='text', ng-model='current_project.project_name')
						.form-group
							label.col-sm-3.control-label(for='jira_url') JIRA URL
							.col-sm-9
								input#jira_url.form-control(type='text', ng-model='current_project.jira_url')
						.form-group
							label.col-sm-3.control-label(for='jira_username') JIRA Username
							.col-sm-9
								input#jira_username.form-control(type='text', ng-model='current_project.jira_username')
						.form-group
							label.col-sm-3.control-label(for='jira_password') JIRA Password
							.col-sm-9
								input#jira_password.form-control(type='text', ng-model='current_project.jira_password')
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal" ng-click="close_project()") Close
					button.btn.btn-primary(type="button" ng-click="save_project()") Save changes

	h1 Projects
		button.btn.btn-success.pull-right(type="button"  ng-click="add_project()") Add project
	//.bs-component
		ul.list-group
			li.list-group-item(ng-repeat='project in projects' ng-click="open_project(project)") {{project.jira_url}} {{project.jira_username}} {{project.jira_password}}
				span.badge(ng-click="delete_project(project)") x

	div.well.well-sm(ng-repeat='project in projects' ng-click="open_project(project)")
		div.row
			//div.col-xs-3.col-md-3.text-center
				img.img-rounded.img-responsive(src='http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png', alt='bootsnipp')
			// div.col-xs-9.col-md-9.section-box
			div.col-xs-12.section-box
				span.label.label-danger.pull-right(ng-click="delete_project(project)") Delete
				h2
					| {{project.project_name}} 
				p
					div 
						strong Username: 
						| {{project.jira_username}} 
					div 
						strong Password: 
						|	{{project.jira_password}} 
					div
						strong JIRA URL: 
						a(href='{{project.jira_url}}', target='_blank') {{project.jira_url}}

						a(href='/api/projects/take_screenshot/{{project._id}}', target='_blank') take_screenshot
				hr
				div.row.rating-desc
					div.col-md-12
						span.glyphicon.glyphicon-film
						a(href='/timelapse/{{project._id}}') View Time-lapse
.footer
	p buit by Chris Gunawardena


