div(ng-include='\'partials/navbar\'')

.well(ng-hide='currentUser')
	h2
		| Time-lapse for Agile
		span(ng-show='currentUser') {{ currentUser.name }}
		| !

	p
		a.btn.btn-sm.btn-success(ng-href='#') Login
		|  or 
		a.btn.btn-sm.btn-success(ng-href='#') Signup
		|  to create your time-lapse

.bs-component(ng-show='currentUser')
	.modal(ng-show='current_project')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="close_project()") ×
					h4(class="modal-title") Add Project
				.modal-body
					form.form-horizontal
						.form-group
							label.col-sm-3.control-label(for='project_name') Project Name
							.col-sm-9
								input#project_name.form-control(type='text', ng-model='current_project.project_name')
						.form-group
							label.col-sm-3.control-label(for='jira_url') JIRA URL
							.col-sm-9
								input#jira_url.form-control(type='text', ng-model='current_project.jira_url')
						.form-group
							label.col-sm-3.control-label(for='jira_username') JIRA Username
							.col-sm-9
								input#jira_username.form-control(type='text', ng-model='current_project.jira_username')
						.form-group
							label.col-sm-3.control-label(for='jira_password') JIRA Password
							.col-sm-9
								input#jira_password.form-control(type='text', ng-model='current_project.jira_password')
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal" ng-click="close_project()") Close
					button.btn.btn-primary(type="button" ng-click="save_project()") Save changes

	h2.text-muted  Projects
		button.btn.btn-success.pull-right(type="button"  ng-click="add_project()") Add project
	div.well.well-sm(ng-repeat='project in projects')
		div.row
			div.col-xs-3.text-center(ng-show='project.screenshots[0].image')
				br
				img.img-rounded.img-responsive(src='{{project.screenshots[0].image}}', alt='bootsnipp')
			div.section-box(ng-class="{'col-xs-9':project.screenshots[0].image, 'col-xs-12':!project.screenshots[0].image}")
				button.btn.btn-danger.btn-xs.pull-right(ng-click="delete_project(project)") Delete 
				button.btn.btn-warning.btn-xs.pull-right(ng-click="open_project(project)") Edit 
				h3
					| {{project.project_name}} 
				p
					div 
						strong Username: 
						| {{project.jira_username}} 
					div 
						strong Password: 
						|	{{project.jira_password}} 
					div
						strong JIRA URL: 
						a(href='{{project.jira_url}}', target='_blank') {{project.jira_url}}
				hr
				div.row.rating-desc
					div.col-md-12
						a.btn.btn-info.btn-sm(href='/timelapse/{{project._id}}', target='_blank') 
							span.glyphicon.glyphicon-play-circle
							| View Time-lapse
						//| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						//span.glyphicon.glyphicon-camera
						//a(href='/api/projects/take_screenshot/{{project._id}}', target='_blank') take_screenshot
.footer
	p built by Chris Gunawardena


