

ul.pagination.pagination-sm.pull-right
	li(ng-repeat='(sprint,screenshots) in slides_array' ng-class='{active: $parent.slides == $parent.slides_array[sprint]}')
		a(ng-click="$parent.slides = $parent.slides_array[sprint]") {{sprint}}

h3 {{project.project_name}}

div
	carousel(interval='interval')
		slide(ng-repeat='slide in slides', active='slide.active')
			img(ng-src='{{slide.image}}', style='margin: auto;')
			.carousel-caption
				p {{slide.text|format_datetime}}
