

.container
	h3 {{project.project_name}}
	div
		div
			carousel(interval='interval')
				slide(ng-repeat='slide in slides', active='slide.active')
					img(ng-src='{{slide.image}}', style='margin: auto;')
					.carousel-caption
						p {{slide.text|format_datetime}}
